@use "./variables.scss" as *;

// put your custom CSS here!
.page-title a {
  display: flex;
  align-items: center;
  gap: 12px; /* Távolság a logó és a szöveg között */

  &::before {
    content: "";
    display: inline-block;
    width: 35px; /* A logód szélessége */
    height: 35px; /* A logód magassága */
    background-image: url('/static/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}